<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSLocationUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>kTCCServiceMediaLibrary</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSCalendarsUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSContactsUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSMotionUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSRemindersUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>NSSiriUsageDescription</key>
	<string>A third party API (permissions_handler) requests this</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Flexify</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>flexify</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
